{% import "_includes/forms" as forms %}

{% set select2ListValue = (settings.list ? settings.list : 'json') %}

{{ forms.selectField({
    label: 'List',
    id: 'list',
    class: 'js-select2-list',
    name: 'list',
    value: select2ListValue,
    required: true,
    options: {
		'json': 'JSON',
		'countries': 'Countries',
		'countries': 'Countries',
		'countriesIso2': 'Countries (2 Digit ISO)',
		'countriesIso3': 'Countries (3 Digit ISO)',
		'currencyIso3': 'Currency (3 Digit ISO)',
		'languagesIso2': 'Languages (2 Digit ISO)',
		'socialNetworks': 'Social Networks',
		'ukCounties': 'UK Counties',
		'usStates': 'US States'
    }
}) }}

<div class="js-select2-json{% if select2ListValue == 'json'%} is-visible{% endif %}">
	{% if jsonFiles|length %}
		{{ forms.selectField({
		    label: 'JSON File',
		    id: 'jsonFile',
		    name: 'jsonFile',
		    value: settings.jsonFile,
			options: jsonFiles
		}) }}
	{% else %}
		<div class="field">
			<div class="heading">
				<label>JSON</label>
			</div>
			<strong class="warning">No JSON file(s) exist</strong>
			<p class="select2-alert">
				JSON files are pulled from the <code>select2</code> folder inside your template folder. Unless a different folder has been set using the <code>jsonFolder</code> config setting. <a href="https://github.com/madebyshape/select2" target="_blank">See Documentation</a>
			</p>
		</div>
	{% endif %}
</div>

{{ forms.lightswitchField({
    label: 'Select Multiple?',
    id: 'multiple',
    name: 'multiple',
    on: settings.multiple, 
    required: true
}) }}

{{ forms.textField({
    label: 'Limit',
    type: 'number',
    id: 'limit',
    name: 'limit',
    value: settings.limit
}) }}

{{ forms.textField({
    label: 'Placeholder',
    type: 'text',
    id: 'placeholder',
    name: 'placeholder',
    value: settings.placeholder
}) }}